<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="8fb34c3d-7fa9-41a4-9f42-52b29c418609" wadlVersion="http://wadl.dev.java.net/2009/02" name="srvcGoogleDistanceMatrix" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="8fb34c3d-7fa9-41a4-9f42-52b29c418609fileName">srvcGoogleDistanceMatrix</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://maps.googleapis.com</con:endpoint></con:endpoints></con:interface>